
body{
    font-family: sans-serif,Arial, Helvetica;
    background: url(../images/pattern-background-desktop.svg);
    background-repeat:no-repeat;
    background: cover;
    background-position: center;
    background-position: top;
    display: grid;
    place-items: center;
}

.container{
    margin-inline: auto;
    width: 20rem;
    background-color: white;
    border-radius: 1.5rem;
    margin-top: 5rem;
}

.main{
    display: grid;
    place-items: center;
    padding: 1rem;
}

.main-image{
    width: 20rem;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}

h1{
    font-size: 22px;
}

.para{
    color: gray;
    font-size: 13px;
    text-align: center;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 245, 245);
    width: 15rem;
    border-radius: 1rem;
    padding: 1rem;
}

.music-icon{
    width: 2rem;
}

.plan{
    margin-left: -3rem;
    p{
        font-size: 13px;
        margin: 0;
    }

    .annual{
        font-weight: bold;
        margin-bottom: 3px;
    }

    .amount{
        color: gray;
    }
}

.change{
    font-size: 12px;
    font-weight: bold;
}

.proceed,
.cancel{
    border: none;
    font-family: sans-serif;
    border-radius: 8px;
    cursor: pointer;
}

.proceed{
    margin:1rem;
    background-color: rgb(9, 9, 228);
    color:white;
    padding: 10px 70px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0px 2px 20px  rgba(9, 9, 228, 0.5);
}

.cancel{
    color: gray;
    background-color: transparent;
    padding: 10px 70px;
    font-size: 12px;
    font-weight: bold;
}

.attribution{
    margin-top: 6rem;
    font-size: 12px; 
    text-align: center;
    a{
        color: black;
    font-weight: bold;
    }
}
